:root {
  font-family: "Noto Sans KR", system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: system-ui;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #c35930;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.container h2{
  font-size: 2.0rem;
  margin: 100px;
}

p{
  padding: 0;
  margin: 0;
}
button{
  display: block;
  width: 100%;
  background: #242424;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover{
  background: #fff;
  border: 1px solid #282828;
  color: #282828;
}

i{
  margin-right: 10px;
}

input {
  color: #333;
}

img{
  width: 100%;
}


/*
css 추가
*/
.main{
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.mainimg{
  width: 100%;
  height: 100vh;
  background-image: url('../assets/img/main_top.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.top_menu{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.87);
  z-index: 1;
}
.logo_img{
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.logo_img a{
  padding: 0 0;
}
.logo_box{
  display: block;
  width: 140px;
  height: 60px;
  background-image: url('../assets/img/logo.png');
  text-indent: -9999px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 200px;
}
.top_menu div a{
  padding: 18px 22px;
}
.top_menu div a:hover{
  color: #c35930;
}
.top_user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  gap: 10px;
}
.top_user div a{
  display: flex;
  align-items: center;
  height: 34px;
  border-radius: 8px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
}
.top_user div a:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.top_user div a i {
  margin-right: 15px;
}

.top_user .icon_cart{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_user .icon_cart span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #d83154;
  font-size: 10px;
  position: absolute;
  right: 0;
  top:0;
}
.top_user .icon_cart button{
  border: 0;
  background: none;
  color: #fff;
  padding: 1px 10px;
}
.top_user .icon_cart button:hover{
  background: rgba(255, 255, 255, 0.1) !important;
}

.top_user .icon_cart i{
  font-size: 22px;
  margin-right: 0;
}
.top_user .admin_btn a{
  color: #fff;
}
.top_user .admin_btn a:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}


/* 로그인 버튼 */
.top_user .login_btn{
  display: flex;
  align-items: center;
}
.top_user .login_btn button{
  display: flex;
  align-items: center;
  background: #fff;
  color: #333;
  padding: 4px 12px;
  border: 0;
}
.top_user .login_btn button:hover{
  background: #eee;
}
.top_user .login_btn i{
  font-size: 18px;
}



/* 컨텐츠내용 */
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_coffee_full{
  width: 100%;
  padding: 0 300px;
}
.main_coffee{
  border: 1px solid #ddd;
  border-radius: 20px;
}

.coffee_product,
.latte_product{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}
.coffee_product:first-child,
.latte_product:first-child{
  margin-top: 0;
}

.menu_coffee{
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.coffee{
  display: flex;
  padding: 10px;
  height: 100px;
  justify-content: space-between;
  position: relative;
  top: -232px;
}

.main_txt{
  margin-top: -50px;
  padding: 0 25px 20px 25px;
}

.main_txt h4{
  font-size: 1.5rem;
}
.main_txt p{
  min-height: 72px;
  margin-top: 14px;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}
.main_txt .price{
  margin: 40px 0 20px;
  font-size: 24px;
  font-weight: bold;
}

/* 별점 표시 */
.star{
  margin-bottom: 5px;
}
.star span{
  margin-left: 5px;
}

.star span:first-child{
  margin-left: 0;
}

.star .checked {
  color: orange;
}

.product_icon li{
  width: 44px;
  height: 22px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.best{
  background-color: #f44336;
}
.sale{
  background-color: #ff8028;
}
.new{
  background-color: #04AA6D;
}
.stock{
  background-color: #c9cdc8;
  color: #111;
}
.stock.out{
  background-color: #d83154;
  color: #fff;
}

/* 매장소개 */
.story{
  width: 100%;
  height: 300px;
  background: #f9fafb;
  margin: 100px 100px 0;
  display: flex;
  justify-content: center;
}

.story h2{
  color: #000;
}

/*  */
/* .overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
} */

/****** 모바일에 구현된 메뉴 ******/
  .mobile_menu{
    display: none;
    background-color: rgba(0, 0, 0, 0.87);
  }
  .mobile_toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-left: 20px;
  }
  .mobile_menu_btn{
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 20px;
  }
  .mobile_menu_btn .icon_cart{
    position: relative;
    display: flex;
  }
  .mobile_menu_btn .icon_cart span {
    border-radius: 100%;
    background: #d83154;
    font-size: 10px;
    padding: 4px;
    position: absolute;
    right: 0;
  }
  .mobile_menu_btn .icon_cart a{
    padding: 8px 8px;
    color: #fff;
    border-radius: 4px;
  }

  .mobile_menu_btn .icon_cart a:hover{
    padding: 8px 8px;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
  }
  .mobile_menu_btn .icon_cart i{
    font-size: 24px;
  }
  
  .mobile_menu_btn button{
    padding: 5px 16px;
    font-size: 18px;
    line-height: 1;
  }

  .mobile_menu_list {
    display: none;
    transition: all 0.3s ease;
  }
  .mobile_menu_list.open{
    display: block;
  }
  .mobile_menu_list.close{
    display: none;
  }

  .mobile_menu_list{
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  .mobile_menu_list div a{
    display: block;
    padding: 26px;
    color: #333;
  }
  .mobile_menu_list div a:hover{
    color: #c35930;
  }

  .mobile_menu_product{
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .top_user .icon_btn{
    display: flex;
  }

  .top_user .icon_btn button{
    display: none;
    padding: 6px 15px;
  }

  .top_user .icon_btn i{
    margin-right: 0;
  }

  .cart-preview{
    padding: 20px;
    position: absolute;
    top: 60px;
    right: 20px;
    background: #fff;
    border: 1px solid #333;
    border-top: 0;
  }

  .cart-preview p,
  .cart-list li{
    color: #333;
  }
  .cart-list li img{
    display: block;
    width: 68px;
    height: 68px;
    background: #ddd;
    text-indent: -9999px;
  }
  .cart-item{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
  }

  .cart-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    margin-bottom: 10px;
  }

  .cart-info:last-child{
    margin-bottom: 0;
  }



  .cart-qty-control {
    display: flex;
    align-items: center;
  }

.popup-content button.qty-btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0;
  padding: 0;
}

.qty-value {
  min-width: 24px;
  text-align: center;
  font-weight: bold;
}

  .cart-name{
    width: 124px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .cart-list li .cart-remove {
    width: auto;
    margin-top: 0;
    padding: 4px 8px;
    background: #ff2222;
  }

  .cart-total{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: #333;
    padding: 20px 5px;
    border-top: 3px double #333;
  }

  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }

  

  /* 하단 */
  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }


/* Desktop(데스크탑) 규격 */
@media screen and (max-width: 1800px) {
  .menu_coffee_full {
    position: relative;
    padding: 0 10%;
  }
  .coffee_product {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet(태블릿) 규격 */
@media screen and (max-width: 1280px) {
  .mainimg{
    height: 600px;
  }
  .top_user .icon_btn button{
    display: block;
  }
  .coffee_product {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet(태블릿) 규격 */
@media screen and (max-width: 1200px) {
  /* menu css */
  a{
    color: #333;
  }
  .mainimg{
    height: 400px;
  }
  .top_menu nav,
  .top_menu .order,
  .top_menu .admin_btn,
  .top_menu .login_btn{
    display: none;
  }
  .top_user{
    width: auto;
    right: 20px;
  }
  .top_user .icon_btn{
    display: block;
  }
  .mobile_menu{
    position: fixed;
    display: block;
    background-color: rgba(0, 0, 0, 0.87);
    z-index: 1;
    top: 60px;
    left: 0;
    right: 0;
  }
  
  
  /* 컨텐츠 css */ 
  .coffee_product {
    grid-template-columns: repeat(2, 1fr);
  }


}



/* Mobile(모바일) 규격 */
@media screen and (max-width: 1000px) {
  .coffee_product {
    grid-template-columns: 1fr;
  }
  .container h2{
    font-size: 1.1rem;
    margin: 50px 0;
  }
  .main_txt h4 {
    font-size: 1.1rem;
  }
  .price {
    font-size: 1rem;
  }

}
